<!DOCTYPE html>
<html ng-app="ngApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		.red {
			color: red;
		}
	</style>

	<body ng-controller="indexCtrl">
		<ul>
			<li ng-repeat="a in arr" ng-click="Click($index)" page="{{$index}}----{{num}}" ng-class="{red:num==$index}">{{a}}</li>
		</ul>
	</body>
	<script src="angular.js"></script>
	<script>
		var app = angular.module("ngApp", []);
		app.controller("indexCtrl", function($scope) {
			$scope.arr = ["a", "b", "c"];
			$scope.Click = function(num) {
				console.log(num)
				$scope.num = num
			}
		})
	</script>

</html>