<div class="base_fixed" style="top: 220.5px;">
	<a href="http://tb.53kf.com/code/client/10132404/3" rel="nofollow" target="_blank" class="f_a1">报名咨询</a>
	<a href="http://tb.53kf.com/code/client/10132404/3" rel="nofollow" target="_blank" class="f_a2">0元入学</a>
	<a href="http://tb.53kf.com/code/client/10132404/3" rel="nofollow" target="_blank" class="f_a3">助学贷款</a>
	<a href="http://tb.53kf.com/code/client/10132404/3" rel="nofollow" target="_blank" class="f_a4">就业保障</a>
	<a href="http://tb.53kf.com/code/client/10132404/3" rel="nofollow" target="_blank" class="f_a5">视频下载</a>
	<a href="http://www.mobiletrain.org/open/" rel="nofollow" target="_blank" class="f_a7">在线公开课</a>
	<a href="http://tb.53kf.com/code/client/10132404/3" rel="nofollow" target="_blank" class="f_a6">咨询热线<i>400-654-7778</i></a><img src="./千锋教育 - 中国IT职业教育领先品牌_files/qf_fix02.png" style="display: block;width:67px;border-top:1px solid #fff;cursor:pointer;display:none" class="qf_fix02">
</div>